{% extends 'base.html' %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard-sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Your Order History : </strong>
                    <span>{{user.full_name}}</span>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col">Order #</th>
                                        <th class="col">Billing Name</th>
                                        <th class="col">Phone</th>
                                        <th class="col">Order Total</th>
                                        <th class="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a></td>
                                        <td>{{order.full_name}}</td>
                                        <td>{{order.phone}}</td>
                                        <td>${{order.order_total}}</td>
                                        <td>{{order.created_at}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
        
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
{% endblock %}